body {
    padding: 0;
    margin: 0;
    background-image: url("../image0.png");
    background-size: cover; /* Ajusta la imagen al tamaño del contenedor */
    background-position: center center; /* Centra la imagen en el contenedor */
    overflow: hidden;
}
.box{
    width:300px;
    height:auto;
    background:rgba(0, 0, 0, 0.737);
    top:50%;
    left:50%;
     position:absolute;
    box-sizing:border-box;
  border-radius:10px;
    transform:translate(-50%,-50%);
    padding:60px 20px;
    
}
.profile{
    
    position:absolute;
    border-radius:10%;
    top:calc(-50px/2);
    left:calc(46% - 50px);
    overflow:hidden;
}
 h2
 {
     padding:0 0 10px;
     text-align:center;
     font-weight:bold;
     font-size:20px;
     color:goldenrod;
 }
 .box .lable{
     margin:0;
     padding:0;
     color:white;
     font-weight:bold;
     font-size:18px;
 }
 .box input{
     width:100%;
     margin-bottom:10px;
 }
    
.box input[type="email"],
.box input[type="password"]
{
    border:none;
    border-bottom:3px solid #ffe6ff;
    background:transparent;
    height:40px;
    outline:none;
    color:#fff;
    font-size:16px;
}
::placeholder
{
    color: rgba(255,255,255,.5);
}

.box .forpas
{
    align-self: flex-end;
    font-weight:bold;
    color:#fff;
    text-decoration:none;
    
}

/* Estilos para el contenedor de botones */
.button-container {
    display: flex;              /* Usar Flexbox */
    justify-content: space-between;  /* Espacio entre los botones */
    margin-top: 10px;            /* Espacio en la parte superior (ajusta según tus necesidades) */
}

/* Estilos para los botones */
.box input[type="submit"]{
    background-color:#16e9f4;
    flex: 1;               /* Distribuye el espacio de manera uniforme entre los botones */
    height: 30px;
    border-radius: 20px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    transition: background-color 0.3s, color 0.3s; /* Agregar transición para el efecto hover */
}

/* Estilos para los botones en estado hover */
.box input[type="submit"]:hover {
    background-color: goldenrod;
    color: #000;
}

